

.container{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    width: auto;
    color: white;
    height: 500px;
    justify-content: center;
    align-items: center;
    padding: 120px;
    gap: 24px;
    background: rgb(129,96,175);
    background: radial-gradient(circle, rgba(129,96,175,1) 0%, rgba(108,69,164,1) 35%, rgba(68,38,112,1) 100%);
}
.titulo-aviso{
    display: flex;
    font-size: 48px;
    font-weight: 700;
}
.info-aviso{
    display: flex;
    font-weight: 300;
    font-size: 18px;
    color: yellow;
}
.texto-aviso{
    font-weight: 300;
    font-size: 16px;
    font-style: normal;
    line-height: 1.3;
    text-align: justify;
}
.img-logo img{
    display: flex;
    width: 100px;
}
.destaque{
    color: yellow;
    font-weight: 700;
}